body{
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumseagreen;
    font-family: 'Kanit', sans-serif;
}

.container{
    width: 50%;
    border: 3px solid gray;
    padding: 50px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p{
    font-size: 1.5em;
}

.player{
    font-weight: 800;
}

.board{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 10px;
}

h1{
    margin: 0 0 30px 0;
}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumseagreen;
    border: 2px solid gray;
    line-height: 150px;
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
}

button{
    width: 150px;
    background-color: mediumseagreen;
    border: 2px solid grey;
    margin-top: 30px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.win{
    background-color: gold;
    border: 6px solid goldenrod;
    box-shadow: 0px 0px 20px goldenrod;
    border-radius: 6px;
    color: silver;
}

@media (max-width:760px){
    .board{
       
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
        gap: 7px;
    }
}

@media (max-width:470px){
    .board{
       
        grid-template-columns: 75px 75px 75px;
        grid-template-rows: 75px 75px 75px;
        gap: 5px;
        font-size: 50px;
        line-height: 50px;
    }

    h1{
        font-size: 1.5em;
        margin: 0 0 10px 0;
    }
    .tile{
        font-size: 75px;
        line-height: 75px;
    }
}